<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudioEng.MicroBuild.Core" version="1.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Native" version="3.8.2112" targetFramework="native" developmentDependency="true" />
  <package id="Nerdbank.GitVersioning" version="3.6.133" targetFramework="native" developmentDependency="true" />
</packages>